:root {
  
  --dusky-blue: #a7b5dba7;
  --salmon: #FAAFB7;
  --dusky-rose: #DBA7A7;
  --dark-green: #4d7865c7;
  --lite-pink: #F5DFE8;
  --taupe: #B5A5AB;
  --lite-green: #85BB98;
  --green-black: #2D382E;
  --teal-black: #2E3C3D;
}
body {
  width: 100vw;
  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(./images/pinkCactus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-container {
  margin: 0 auto;
  width: 90%;
}
header {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  padding-top: 9.33vw;
}
h1 {
  font-size: 10.66vw;
  font-weight: bolder;
  color: var(--green-black);
}
h2 {
  font-size: 6vw;
  color: var(--green-black);
  padding-bottom: 9.33vw;
}
ul.nav-menu {
  padding-left: 0px;
}
li {
  list-style: none;
}

a.nav-link {
  color: var(--green-black);
  font-size: 5vw;
  padding-left: 0px;
  
  
}
a.nav-link:hover {
  color: var(--green-black);
text-shadow: 1.33vw 1.33vw 1.33vw var(--salmon);
transition: transform 0.5s ease;
  transform: scale(1.5, 1.5);
}

/*start footer styling*/
footer {
text-align: center;
  /* background-color: var(--dark-green); */
  /* margin-top: 40px; */
  padding: 2.66vw 0;
  gap: 2.13vw;
  position:fixed;
  bottom:0;
  width:90%;
  margin: 4.8vw auto;
  
}

.all-rights-reserved {
  border-top: .26vw solid var(--taupe);
  border-bottom: .26vw solid var(--taupe);
  font-size: 4vw;
  color: var(--lite-pink);
  background-color: var(--green-black); 
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);}


/* START Style for "font awesome" social media icons */
/*end social media icons*/

/*start media query for tablet*/

/* @media (min-width: 576px) {
