:root {
  --cadet-blue: Hex: #A4B6BF;
  --bone: #E2D4C7;
  --tumbleweed: #E8AF92;
  --artichoke: #8B977C;
  --nickel: #737373;
  --toupe: #a69f88;
  --light-grey: #DFD9CC;
  --cream: #F9F9F0;
  --sand: #eadac3;
  --steel: #c4c2bd;
  --peach: #cca993;
  --brown: #998677;
}
h1 {
  color: var(--tumbleweed);
  padding: 10px;
  font-size: 40px;
}

header {
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--artichoke);
}

li {
  list-style: none;
}

/*start hamburger menu  */
.bar {
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--nickel);
}
.hamburger {
  display: block;
  margin-bottom: 20px;
  background-color: var(--bone);
  padding: 4px;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
/*end hamburger menu  */
/*start navbar menu  */
.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-link {
  color: var(--cadet-blue);
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
}
/*start footer styling*/
footer {
  height: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--nickel);
  margin-top: 40px;
  padding: 20px 0;
  gap: 8px;
}
.all-rights-reserved {
  font-size: 16px;
  color: var(--cadet-blue);
}
/* START Style for "font awesome" social media icons */
.fa {
  padding: 10px;
  font-size: 18px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  border: 3px solid var(--tumbleweed);
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-google {
  background: #dc4e41;
  color: white;
}

.fa-pinterest {
  background: #bd081c;
  color: white;
}
.fa-instagram {
  background: #3f729b;
  color: white;
}
.social_media_links {
  display: flex;
  gap: 5px;
}
/*end social media icons*/
@media (max-width: 575px) {
  .nav-menu {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    background-color: var(--tumbleweed);
    border: 1px solid var(--bone);
    width: 100%;
    padding: 0.8em;
  }
  .nav-menu.active {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: stretch;
    z-index: 1;
  }
  .active-link {
    background: var(--nickel);
  }
  main {
    z-index: -1;
  }
}
/*start media query for tablet*/

@media (min-width: 576px) {
  body {
    height: 100vh;
  }
  .scissors-logo {
    width: 300px;
    height: 150px;
    margin-top: 15px;
  }
  .main_paragraph_pic {
    width: 100%;
    height: auto;
  }
  h1 {
    padding: 20px;
    font-size: 50px;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    padding: 0 24px;
  }

  .nav-link {
    /* color: var(--wintergreen-dream); */
    color: var(--bone);
    text-decoration: none;
  }
  .nav-link:link {
    color: var(--cadet-blue);
    color: var(--bone);
  }
  .nav-link:hover {
    font-weight: bolder;
  }
  .nav-link:active {
    background-color: var(--nickel);
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }
  .active-link {
    font-weight: bolder;
    background-color: var(--nickel);
  }
  @media (min-width: 992px) {
    .nav-link {
      font-size: 22px;
    }
  }