:root {
  --dusky-blue: #a7b5dba7;
  --salmon: #faafb7;
  --dusky-rose: #dba7a7;
  --dark-green: #4d7865c7;
  --lite-pink: #f5dfe8;
  --taupe: #b5a5ab;
  --lite-green: #85bb98;
  --green-black: #2d382e;
  --teal-black: #2e3c3d;
}
body {
  width: 100vw;
  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../images/pinkCactus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-container {
  margin: 0 auto;
  width: 90%;
}
header {
  display: flex;
  flex-direction: column;
  gap: 8vw;
  padding-top: 9.33vw;
}
h1 {
  font-size: 10.66vw;
  font-weight: bolder;
  color: var(--green-black);
}
h2 {
  font-size: 6vw;
  color: var(--green-black);
  padding-bottom: 9.33vw;
}
ul.nav-menu {
  padding-left: 0px;
}
li {
  list-style: none;
}

a.nav-link {
  color: var(--green-black);
  font-size: 5vw;
  padding-left: 0px;
}
a.nav-link:hover {
  color: var(--green-black);
  text-shadow: 1.33vw 1.33vw 1.33vw var(--salmon);
  transition: transform 0.5s ease;
  transform: scale(1.5, 1.5);
}
.thumbnail-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-bottom: 40px;
  /* grid-template-rows: ; */
}
.thumbnail-images > a {
  margin: 0 auto;
}
img.img-thumbnail.rounded {
  border: 1px solid var(--lite-green);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-bottom: 10px;
}
img:hover {
  box-shadow: 1.33vw 1.33vw 1.33vw var(--salmon);
}
/*start footer styling*/
footer {
  text-align: center;
  /* background-color: var(--dark-green); */
  /* margin-top: 40px; */
  padding: 2.66vw 0;
  gap: 2.13vw;
  /* position: fixed; */
  bottom: 0;
  width: 90%;
  margin: 4.8vw auto;
}

.all-rights-reserved {
  border-top: 0.26vw solid var(--taupe);
  border-bottom: 0.26vw solid var(--taupe);
  font-size: 4vw;
  color: var(--lite-pink);
  background-color: var(--green-black);
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);
}
@media (min-width: 786px) {
}
