:root {
  --dusky-blue: #a7b5dba7;
  --salmon: #faafb7;
  --dusky-rose: #dba7a7;
  --dark-green: #4d7865c7;
  --lite-pink: #f5dfe8;
  --taupe: #b5a5ab;
  --lite-green: #85bb98;
  --green-black: #2d382e;
  --teal-black: #2e3c3d;
}
body {
  width: 100vw;
  max-width: 800px;

  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../images/pinkCactus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-container {
  margin: 0 auto;
  width: 90%;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}
h1 {
  font-size: 3em;
  font-weight: bolder;
  color: var(--green-black);
}
h2 {
  font-size: 2em;
  color: var(--green-black);
  font-weight: bold;
  margin-top: 0.3em;
}
.contact-form {
  font-size: 1.5em;
  color: var(--green-black);
  font-weight: bold;
  padding-left: 0;
  margin-top: 0.3em;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.contact-form:hover {
  color: var(--green-black);
  text-shadow: 0.2em 0.2em 0.2em var(--salmon);
  transition: transform 0.5s ease;
  transform: scale(1.1, 1.1);
}
.modal-header {
  background-image: url(../images/upcloseSalmon2.png);
}
#staticBackdropLabel {
  font-size: 2em;
  font-weight: bold;
}
.modal-body {
  background-image: url(../images/skyCloseUp.png);
  color: var(--green-black);
}
.form-label {
  font-size: 1.2em;
}
.form-control {
  background-color: var(--lite-pink);
}
#typeText {
  margin-bottom: 1.2em;
  color: var(--green-black);
}
.submit-button {
  background-color: var(--taupe);
  border: none;
}
.modal-footer {
  background-image: url(../images/upcloseSalmon2.png);
}

ul.nav-menu {
  padding-left: 0;
}
li {
  list-style: none;
}
a.nav-link {
  color: var(--green-black);
  font-size: 1.2em;
  padding-left: 0;
}
a.nav-link:hover {
  color: var(--green-black);
  text-shadow: 0.2em 0.2em 0.2em var(--salmon);
  transition: transform 0.5s ease;
  transform: scale(1.1, 1.1);
}

/*start footer styling*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0;
  gap: 0.5em;
  width: 95%;
  margin: auto auto;
  margin-top: 4em;
}

.all-rights-reserved {
  border-top: 0.2em solid var(--taupe);
  border-bottom: 0.2em solid var(--taupe);
  font-size: 0.9em;
  color: var(--lite-pink);
  background-color: var(--green-black);
  padding: 0 2em;
}
/* START Style for "font awesome" social media icons */
.fa {
  padding: 1em;
  font-size: 0.8em;
  width: 3.3em;
  text-align: center;
  text-decoration: none;
  border: 0.1em solid var(--lite-pink);
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55aceeba;
  color: var(--lite-pink);
}

.fa-facebook {
  background: #3b5898bd;
  color: var(--lite-pink);
}

.fa-google {
  background: #dc4e41bd;
  color: var(--lite-pink);
}

.fa-pinterest {
  background: #bd081dbb;
  color: var(--lite-pink);
}
.fa-instagram {
  background: #3f729bb4;
  color: var(--lite-pink);
}
.social_media_links {
  display: flex;
  gap: 0.4em;
}
@media (min-width: 576px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2em;
  }
  p {
    font-size: 1.5em;
  }
  footer {
    margin-top: 15em;
  }
  .all-rights-reserved {
    padding-left: 6em;
    padding-right: 6em;
    clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);
  }
}
@media (min-width: 800px) {
  body {
    background-size: 800px;
  }
}
