:root {
  --dusky-blue: #a7b5dba7;
  --salmon: #faafb7;
  --dusky-rose: #dba7a7;
  --dark-green: #4d7865c7;
  --lite-pink: #f5dfe8;
  --taupe: #b5a5ab;
  --lite-green: #85bb98;
  --green-black: #2d382e;
  --teal-black: #2e3c3d;
}
body {
  width: 100vw;
  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../images/tallUpcloseSalmon3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.page-container {
  margin: 0 auto;
  width: 90%;
}
h1 {
  font-size: 2.2em;
  font-weight: bolder;
  color: var(--lite-pink);
  background-color: var(--dark-green);
  padding: 0.2em 0.6em;
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);
  border-top: 0.2em solid var(--taupe);
  border-bottom: 0.2em solid var(--taupe);
}
h2 {
  font-size: 1.5rem;
  color: var(--green-black);
  padding-bottom: 1.4em;
}
ul.nav-menu {
  padding-left: 0px;
  padding-top: 1em;
}
li {
  list-style: none;
}
.responsive-image {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1.8em;
  border: 0.3em solid var(--lite-green);
  clip-path: polygon(
    0 8%,
    15% 8%,
    15% 0%,
    85% 0%,
    85% 8%,
    100% 8%,
    100% 91%,
    85% 91%,
    85% 100%,
    15% 100%,
    15% 91%,
    0 91%
  );
}

.image-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

a.nav-link {
  color: var(--green-black);
  font-size: 1.2em;
  padding-left: 0px;
  text-decoration: none;
}
a.nav-link:hover {
  color: var(--green-black);
  text-shadow: 0.2em 0.2em 0.2em var(--salmon);
  transition: transform 0.5s ease;
  transform: scale(1.5, 1.5);
}
.text {
  font-size: 1.4em;
  text-align: center;
  color: var(--green-black);
  background-color: var(--taupe);
  padding: 0 1em;
}
/*start footer styling*/
footer {
  text-align: center;
  padding: 0.5em 0;
  width: 100%;
  margin: 0 auto;
}

.all-rights-reserved {
  border-top: 0.2em solid var(--taupe);
  border-bottom: 0.2em solid var(--taupe);
  font-size: 1em;
  color: var(--lite-pink);
  background-color: var(--green-black);
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);
}
@media (min-width: 576px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.2em;
    padding-bottom: 1.4em;
  }
  ul.nav-menu {
    padding-left: 0px;
  }
  a.nav-link {
    font-size: 2em;
    padding-left: 0px;
  }
  footer {
    padding: 0.5em 0;
    margin: 0 auto;
  }

  .all-rights-reserved {
    font-size: 1.2em;
  }
}
@media (min-width: 800px) {
  h1 {
    font-size: 3.5em;
  }
}
