:root {
  --dusky-blue: #a7b5dba7;
  --salmon: #faafb7;
  --dusky-rose: #dba7a7;
  --dark-green: #4d7865c7;
  --lite-pink: #f5dfe8;
  --taupe: #b5a5ab;
  --lite-green: #85bb98;
  --green-black: #2d382e;
  --teal-black: #2e3c3d;
}
body {
  width: 100vw;

  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../images/tallUpcloseSalmon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
@media (min-width: 300px) {
  main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 20px auto;
    border: 5px solid var(--dark-green);
    border-radius: 10px;
    background-color: var(--lite-pink);
    gap: 1.5em;
    line-height: 1.9em;
  }

  header {
    background-color: var(--taupe);
    border-radius: 6px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .profile {
    padding: 1em;
  }

  ul {
    padding-left: 1em;
    list-style: none;
  }
  .back-to-home {
    background-color: var(--dark-green);
    color: var(--salmon);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px 0;
  }
}
@media (min-width: 768px) {
  main {
    display: grid;
    height: 1056px;
    max-width: 816px;
    margin: 2em auto;
    grid-template-columns: 40% 60%;
    align-items: center;
    border: 5px solid #537783;
    background-color: aliceblue;
    padding-right: 20px;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(218, 180, 154);
    grid-column: span 2;
    margin-right: 3px;
  }
  .profile {
    grid-column: span 2;
  }
}
