:root {
  --dusky-blue: #a7b5dba7;
  --salmon: #faafb7;
  --dusky-rose: #dba7a7;
  --dark-green: #4d7865c7;
  --lite-pink: #f5dfe8;
  --taupe: #b5a5ab;
  --lite-green: #85bb98;
  --green-black: #2d382e;
  --teal-black: #2e3c3d;
}
body {
  width: 100vw;
  /* width: 100%; */
  /* max-width: 800px; */

  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../images/tallUpcloseSalmon3.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.page-container {
  max-width: 800px;

  margin: 0 auto;
  width: 90%;
  height: 90%;
}

ul.nav-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5em;
  margin-top: 1.5em;
}

li {
  list-style: none;
}

a.nav-link {
  color: var(--green-black);
  font-size: 1.4em;
  padding-left: 0px;
  text-decoration: none;
}
a.nav-link:hover {
  color: var(--green-black);
  text-shadow: 0.2em 0.2em 0.2em var(--salmon);
  transition: transform 0.5s ease;
  transform: scale(1.5, 1.5);
}
a.back-to-home {
  background-color: var(--green-black);
  text-decoration: none;
  color: var(--lite-pink);
  padding: 0.8em 0.5em;
  font-size: 1.2em;
  border: 0.2em solid var(--taupe);
}
footer {
  text-align: center;
  padding: 0.5em 0;

  width: 100%;
  margin: 1em auto;
}

.all-rights-reserved {
  border-top: 0.2em solid var(--taupe);
  border-bottom: 0.2em solid var(--taupe);
  font-size: 1em;
  color: var(--lite-pink);
  background-color: var(--green-black);
  clip-path: polygon(100% 0, 95% 50%, 100% 100%, 0% 100%, 5% 49%, 0% 0%);
}

@media (min-width: 300px) {
  main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 20px auto;
    border: 5px solid var(--dark-green);
    border-radius: 10px;
    background-color: var(--lite-pink);
    gap: 1.5em;
    line-height: 2em;
  }

  header {
    background-color: var(--taupe);
    border-radius: 6px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .profile {
    padding: 1em;
  }

  ul {
    padding-left: 1em;
    list-style: none;
  }
}

@media (min-width: 768px) {
  main {
    display: grid;
    height: 1056px;
    max-width: 800px;
    margin: 2em auto;
    grid-template-columns: 40% 60%;
    align-items: center;
    border: 5px solid var(--lite-green);
    background-color: var(--lite-pink);
    padding-right: 20px;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--taupe);
    grid-column: span 2;
    margin-right: 3px;
  }
  .profile {
    grid-column: span 2;
  }
  .back-to-home {
    display: none;
  }
}
