:root {
  --dusky-blue: #a7b5dba7;
  --salmon: #faafb7;
  --dusky-rose: #dba7a7;
  --dark-green: #4d7865c7;
  --lite-pink: #f5dfe8;
  --taupe: #b5a5ab;
  --lite-green: #85bb98;
  --green-black: #2d382e;
  --teal-black: #2e3c3d;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Advent Pro", sans-serif;
  font-family: "Blaka Hollow", cursive;
  font-family: "Inconsolata", monospace;
  font-family: "Josefin Sans", sans-serif;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Radio Canada", sans-serif;
  font-family: "Titillium Web", sans-serif;
  background-image: url(../images/noPinkCactus.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  backdrop-filter: blur(5px);
  background-position: right top;
}
.page-container {
  margin: 0 auto;
  width: 100%;
  height: 90%;
  max-width: 900px;
  height: 100%;
  padding: 20px;
  background-image: url(../images/noPinkCactus.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  position: relative;
  box-shadow: 20px 6px 10px 6px #0000001a;
}
header {
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}
h1 {
  font-size: 2.8em;
  font-weight: bolder;
  color: var(--green-black);
}
#results {
  font-size: 1.8em;
  color: var(--green-black);
  font-weight: bold;
  margin: 2em 0;
  line-height: 2;
}
a.go-back-button {
  color: var(--green-black);
  font-size: 1.4em;
  padding-left: 0;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: var(--green-black);
  text-shadow: 0.2em 0.2em 0.2em var(--salmon);
  transition: transform 0.5s ease;
  transform: scale(1.5, 1.5);
}
